
/*

_base.scss

K:\A01_Udemy\C023_Complete_React_Web_Dev\Sections\a_Boilerplates\Boilerplate_v2\src\
a68_styles\base\_base.scss

K:\aaa_TransZ_DT201607\Ralph\Udemy\C023_Complete_React_Web_Dev\Sections\
SEC_008_Styling_React\proj_01\Indecision-app\src\styles\base\_base.scss

//  rem

    font-size: 1.6rem; === 16px
    font-size: 2.2rem; === 22px

//  SEC_009 --- 76. Setting Up Budget App 6:54

body
{
    background: $dark-blue;
 */

//  Universal selector
//  DEFAULT:  box-sizing: content-box;

* {
    box-sizing: border-box;
}


html
{
    font-size: 62.5%;
}

body {
    /*
//  SEC_017 --- 171. Styling Login Page 13:45
    background-color: white;
    background-color: #666666;
    border: solid;
     */

    background-color: $dark-grey;

    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;

    /*
//  SEC_017 --- 171. Styling Login Page 13:45
 */
    line-height: 1.6;
}


/*
h1 {
    font-size: 2.2rem;
}
*/


/*
//  SEC_008 --- 68. Big Button & Options List 15:24
 */

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}


.is-active {
    font-weight: bold;
}
