
/*

_content-container.scss

K:\A01_Udemy\C023_Complete_React_Web_Dev\Sections\a_Boilerplates\Boilerplate_v2\src\
a68_styles\Components\_content-container.scss

*/

//  [RTMPL2_8|SFC_header.jsx::.content-container css2;^B]

.content-container {

    //  Center the element when the display expands to over 80rem.
    margin: 0 auto;

    border: solid;

    /*
        https://www.w3schools.com/css/css_padding.asp

        If the padding property has two values:

        padding: 25px 50px;
        top and bottom paddings are 25px
        right and left paddings are 50px

        top and bottom paddings are 0
        right and left paddings are $m-size
    */
    padding: 0 $m-size;

    max-width: 80rem;
}
