
/*

_page-header.scss

K:\A01_Udemy\C023_Complete_React_Web_Dev\Sections\a_Boilerplates\Boilerplate_v2\src\
a68_styles\Components\_page-header.scss

 */



//  S07251667|sec013a_L140_expenses_summary.jsx::.primary-page-header css1;

//  S07251667|sec009a_CLS_add_expense_page.jsx::.primary-page-header css2;

//  S07251667|sec009a_CLS_edit_expense_page.jsx::.primary-page-header css3;

.primary-page-header {

//  SEC_017 --- 177. Styling Expenses List: Part I 13:03
    //background-color: #f7f7f7;
    background-color: $off-white;

    margin-bottom: $l-size;

    /*
        top and bottom paddings are $m-size
        right and left paddings are 0
    */
    padding: $l-size 0;
}


//  S07251667|sec013a_L140_expenses_summary.jsx::.primary-page-header__title css1;
//  S07251667|sec009a_CLS_add_expense_page.jsx::.primary-page-header__title css2;

//  S07251667|sec009a_CLS_edit_expense_page.jsx::.primary-page-header__title css3a;
//  S07251667|sec009a_CLS_edit_expense_page.jsx::.primary-page-header__title css3b;

.primary-page-header__title {

    font-weight: 300;

    margin: 0;

    span {
        /*  700 = BOLD */
        font-weight: 700;
    }
}


//  S07251667|sec013a_L140_expenses_summary.jsx::.primary-page-header__actions css1;

.primary-page-header__actions {

    margin-top: $m-size;
}

